.schedule-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 18px;
  width: 100%;
}

/* HEADER */
.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.schedule-header h4 {
  font-size: 16px;
  font-weight: 500;
  color: #111827;
}

.view-all {
  font-size: 13px;
  font-weight: 500;
  color: #ff7a00;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.arrow {
  font-size: 16px;
  font-weight: 700;
  color: #ff7a00;
}

/* ITEM */
.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 12px;
}

/* CONTENT */
.schedule-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* DAY */
.day {
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

/* LEFT */
.schedule-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* IMAGE */
.schedule-icon {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.schedule-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.schedule-text p {
  font-size: 13px;
  font-weight: 400;
  color: #374151;
  margin: 0;
}

.schedule-text span {
  font-size: 12px;
  color: #9ca3af;
}

/* BADGE */
.badge {
  font-size: 12px;
  font-weight: 500;
  background: #fff1e6;
  color: #ff7a00;
  padding: 6px 12px;
  border-radius: 999px;
  white-space: nowrap;
}
